/* This is the @font-face definition file for Textura Libera web fonts. */

/*
 * Usage:
 * 
 * 1. Put this stylesheet into an HTML directory of your server
 *    together with the woff files.
 * 2. Link this stylesheet from your hypertext or @import to your stylesheet.
 */

@font-face {
	font-family: 'Textura Libera';
	src: url('TexturaLibera.woff');
	font-variant: normal;
	font-stretch: normal;
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Textura Libera';
	src: url('TexturaLibera-Bold.woff');
	font-variant: normal;
	font-stretch: normal;
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Textura Libera';
	src: url('TexturaLibera-Light.woff');
	font-variant: normal;
	font-stretch: normal;
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Textura Libera';
	src: url('TexturaLibera-ExtraLight.woff');
	font-variant: normal;
	font-stretch: normal;
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Textura Libera';
	src: url('TexturaLibera-Cond.woff');
	font-variant: normal;
	font-stretch: condensed;
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Textura Libera';
	src: url('TexturaLibera-Light-Cond.woff');
	font-variant: normal;
	font-stretch: condensed;
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Textura Libera';
	src: url('TexturaLibera-Expanded.woff');
	font-variant: normal;
	font-stretch: expanded;
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Textura Libera';
	src: url('TexturaLibera-Bold-Expanded.woff');
	font-variant: normal;
	font-stretch: expanded;
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Textura Libera';
	src: url('TexturaLibera-Light-Expanded.woff');
	font-variant: normal;
	font-stretch: expanded;
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Textura Libera';
	src: url('TexturaLibera-ExLight-Expanded.woff');
	font-variant: normal;
	font-stretch: expanded;
	font-weight: 200;
	font-style: normal;
}
